.navContainer {
  display: flex;
  height: 60px;
  justify-content: space-evenly;
  border-bottom: 1px solid rgb(255, 102, 0);
  box-shadow: 0px 0px 4px 4px rgb(255, 102, 0);
}
.logo {
  display: flex;
  color: rgb(255, 102, 0);
  align-items: center;
  font-family: cursive;
  width: 250px;
  margin-left: 10px;
  cursor: pointer;
}
.logoImage {
  height: 58px;
}

.logoHeader {
  font-size: 26px;
  font-family: cursive;
}
.navContent {
  width: 60%;
}

.navList {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  margin-top: 16px;
}
.navLinks {
  text-decoration: none;
  color: rgb(255, 102, 0);
  font-size: 18px;
  font-weight: 500;
}
.navLinks:hover {
  border: none;
  border-radius: 22px;
  background-color: rgba(255, 102, 0, 0.685);
  color: #fff;
  padding: 8px;
  transition: ease-in-out 0.4s;
}

.social {
  background-color: cyan;
  width: 20%;
}

.header-social {
  display: flex;
  align-items: center;
}
.header-social-links {
  padding-left: 12px;
  color: rgba(255, 120, 0, 0.829);
}
.header-social-links:hover {
  color: rgb(255, 120, 0);
}

.mobile-nav {
  display: flex;
  align-items: center;
}

/* Media Queries  */

/* Tab View  */
@media (max-width: 872px) {
  .navContent {
    display: none;
  }
  .header-social {
    display: none;
  }
}
