.activityContainer {
  width: 100%;
  height: 100vh;
  display: flex;
}
.activity1 {
  width: 50%;
  height: 100%;
}
.activity2 {
  width: 50%;
  background: lightgreen;
  height: 100%;
}
.boxContainer {
  border: 0.1px solid tomato;
  border-radius: 20px;
  margin: 2.5rem;
  width: 40vw;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.boxContainer img {
  width: 75%;
  height: 65%;
}
.boxContainer h1 {
  color: tomato;
  font-family: "roboto";
  font-size: 3.5rem;
}
.boxContainer p {
  padding: 0 3.5rem;
}

@media (max-width: 600px) {
  .activityContainer {
    flex-direction: column;
  }
  .activity1 {
    width: 100%;
  }
  .activity2 {
    width: 100%;
  }
}
