.dropdownContainer{
    height:100vh;
    width:100vw;
    display:flex;
    align-items: center;
    justify-content: center;
}

.dropdownItem{
    width:200px;
    margin: 25px;
}

.resetButton{
    margin: 25px;
}

@media only screen and (max-width:900px){
    .dropdownContainer{
        flex-direction: column;
    }
    
}