.bannerContainer {
  display: flex;
  width: 100vw;
  height: 95%;
}

.bannerText {
  background-image: linear-gradient(orangered, rgb(255, 255, 254));
  width: 40%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bannerText h1 {
  text-shadow: orangered 0px 0px 5px;
  color: #fff;
  padding: 3.5rem;
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  font-family: "roboto";
  margin-right: 1px;
}

.bannerVideo {
  display: block;
  box-sizing: border-box;
  width: 60%;
  height: 100vh;
}

.bannerVideo video {
  object-fit: cover;
  height: 100%;
}

@media (max-width: 872px) {
  .bannerContainer {
    flex-direction: column;
  }
  .bannerText {
    width: 100%;
    height: 100%;
  }
  .bannerText h1 {
    font-size: 2.2rem;
  }
  .bannerVideo {
    height: 70vh;
  }
  .bannerVideo video {
    height: 65%;
  }
}
