.bannerContainer {
  display: flex;
  width: 100vw;
  height: 95%;
}

.bannerText {
  background-color: rgba(255, 68, 0, 0.849);
  width: 40%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bannerText h1 {
  color: #fff;
  padding: 3.5rem;
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  font-family: "roboto";
  margin-right: 1px;
}

.bannerVideo {
  display: block;
  box-sizing: border-box;
  width: 60%;
  height: 100vh;
}

.bannerVideo video {
  object-fit: cover;
  height: 100%;
}
